/* Estilos para o layout de filmes */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav_logo{
    width: 100px;

}
.search_icon{

    width: 20px;
}
.nav_perfil{
    width: 40px;
}
.search_avatar{
    display: flex;

    justify-content: space-between;
}
.movie-list{
    display: flex;
    flex-direction: column;
}

.movie-list {
    margin-top: 20px; /* Adiciona um espaçamento superior */
    padding: 0 20px; /* Adiciona um espaçamento interno */
}

.movie-list h2 {
    color: #fff; /* Cor do título dos filmes */
    font-size: 24px;
    margin-bottom: 10px; /* Adiciona um espaçamento inferior */
}

.movie-list .movie-poster {
    width: 150px; /* Define a largura das imagens dos filmes */
    margin-right: 20px; /* Espaçamento entre as imagens dos filmes */
}

/* Estilo para a lista de filmes */
.movie-list ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que os filmes quebrem para a próxima linha */
    justify-content: flex-start; /* Alinha os filmes à esquerda */
}

.movie-list li {
    width: 200px; /* Define a largura dos itens da lista */
    margin-right: 20px; /* Espaçamento entre os filmes */
    margin-bottom: 20px; /* Espaçamento inferior entre os filmes */
}

.movie-list img {
    width: 100%; /* Para garantir que a imagem ocupe todo o espaço disponível */
    height: auto; /* Para manter a proporção da imagem */
}

.movie-list form {
    position: relative; /* Permitir que o botão seja posicionado */
}

.movie-list button {
    position: absolute; /* Posicionar o botão sobre a imagem */
    bottom: 5px; /* Distância do botão ao fundo da imagem */
    left: 50%; /* Alinhar o botão horizontalmente */
    transform: translateX(-50%); /* Centralizar o botão horizontalmente */
    width: 80px; /* Define a largura do botão */
    padding: 5px 10px; /* Adiciona um espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona cantos arredondados */
    background-color: #e50914; /* Cor de fundo do botão (vermelho Netflix) */
    color: #fff; /* Cor do texto do botão */
    font-size: 14px; /* Tamanho da fonte do botão */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    opacity: 0; /* Inicialmente oculta o botão */
    transition: opacity 0.3s; /* Adiciona uma transição suave */
}

.movie-list li:hover button {
    opacity: 1; /* Mostra o botão quando o mouse passa sobre o filme */
}

/* Estilos para a barra de navegação */
/* Estilos para outras imagens */
.img {
    width: 100px; /* Largura das imagens */
}
